li{
    padding: 24px;
    width: 96%;
}

li:not(:last-child){
    border-bottom: solid #e1dddd;
}

li:last-child{
    padding-bottom: 20px;
}

.mealPrice{
    font-weight: 600;
    color: #d59810;
}

.catAdd{
    float: right;
    /* padding-top: 35px; */
    position: relative;
    top: -43px;
}

.inputStyle{
    padding-bottom: 10px;
    text-align: right;
    float: right;
}

h4{
    display: inline;
    padding-right: 8px;
}

.inputClass{
    width: 20%;
    /* height: max-content; */
    height: auto;
    border: 1px solid #f1d2d2;
}

.addButton{
    background-color: #8a2b06;
    cursor: pointer;
    font: inherit;
    border: none;
    clear: both;
    float: right;
    color: white;
    padding: 0.75rem 3rem;
    border-radius: 25px;
    font-weight: bold;
}