.total{
    font-size: 24px;
    text-align: right;
    padding: 10px;
    color: #8a2b06;
}

.right{ 
    display: flex;
    justify-content: space-between;
}

.right10{ 
    display: flex;
    justify-content: space-between;
    width: 11%;
}

p.emptyCart{
    text-align: center;
    font-size: 20px;
}

.ulStyle{
    /* width: 70%; */
    /* margin: 0 auto; */
    /* border: 1px solid; */
    border-radius: 10px;
    /* margin: 15px; */
    background-color: #8a2b0636;
}

.remove{
    height: 20px;
    cursor: pointer;
}

h4 .price {
    color: #9f6115;
  }

.inputClass{
    width: 35%;
    height: auto;
    background-color: #ffffffad;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
}

.inputClass:focus-visible{
    outline: 1px solid #60c1ef;
    outline-style: none;
}

.icon{
    width: 1.35rem;
    height: 1.35rem;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .right10{width: 36%;top: -22px;position: relative;}
  }