.total{
    font-size: 24px;
    text-align: right;
    padding: 10px;
    color: #8a2b06;
}

span.price{ 
    float: right;
}

p.emptyCart{
    text-align: center;
    font-size: 20px;
}

.ulStyle{
    /* width: 70%; */
    /* margin: 0 auto; */
    border: 1px solid;
    border-radius: 10px;
    /* margin: 15px; */
    background-color: #8a2b0636;
}

.remove{
    height: 20px;
}

h4 .price {
    color: #9f6115;
  }