/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0 0 0 / 66%); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    border-radius: 10px;
   /* width: 50%; /* Could be more or less, depending on screen size */
   /* text-align: center; */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal p{
    font-weight: 600;
    font-family: system-ui;
    /* font-size: 26px;  */
  }

  .hide{
      display: none !important;
  }

  .show{
    display: block !important;
  }

  button{
    background-color: #8a2b06bf;
    cursor: pointer;
    font: inherit;
    border: none;
    color: white;
    padding: 0.75rem 3rem;
    border-radius: 25px;
    font-weight: bold;
    /* margin: 10px; */
  }

  .button{
      display: flex;
      justify-content: space-between;
  }

  .closebtn{
    background-color: #8a2b0673;
  }

  .closebtn:hover{
    background-color: #e0280a;
  }

  .orderButton:hover,
  .orderButton:focus {
    background-color: #e0ae0a;
    color: #000;
  }

  @media screen and (max-width: 768px) {
    .closebtn{display: none;}
    .button{display: flex;flex-direction: column;}
  }
